<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We want to inspire people and get inspired">
    <title>Cocolab</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="{{ theme:css }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="//unpkg.com/vue@2.2.2"></script>
    <link href="//vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="//vjs.zencdn.net/5.19.2/video.js"></script>
    <script src="/site/themes/redwood/js/vendor/bigvideo.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <script>
        window.cocoTags = [
            {
                id: 'cultura-digital',
                name: 'Cultura digital'
            },
            {
                id: 'espectaculos',
                name: 'Espéctaculos'
            },
            {
                id: 'instalaciones',
                name: 'Instalaciones'
            },
            {
                id: 'pabellones-y-museos',
                name: 'Pabellones y museos'
            }
        ];
    </script>
</head>

<body class="section-{{ segment_1 or "home" }}">

    {{ partial:nav }}

    {{ template_content }}

    <footer class="page">
        <p class="copyright">&copy; {{ now format="Y" }} Cocolab</p>
    </footer>


    <script src="{{ theme:js }}"></script>

</body>
</html>
