body {
	background: #fff;
	color: $color_dark;
	font-family: $font_serif;
	font-size: 18px;
}

.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }

.col-centered {
    float: none;
    margin: 0 auto;
}


body.section-about-us,
body.section-quienes-somos,
body.section-home {
	color: #fff;
	background-color: #000;
}


#app{
	padding-top: 100px;
}

.section-about-us header,
.section-quienes-somos header {
	padding-top: 100px;
}

.section-about-us header h1,
.section-quienes-somos header h1{
	line-height: 1.5;
	font-size: 50px;
	margin-bottom: 100px;
	font-family: 'CircularStdMedium';
}

.section-about-us header h2,
.section-quienes-somos header h2{
	margin-top: 0;
	margin-bottom: 300px;
	line-height: 1.5;
	font-size: 26px;
}

.company-logo-img {
	float: left;
	margin: 0 10px 30px 0;
}

.block {
	clear: both;
	margin-bottom: 100px;

	.company-content{
		float: left;
		width: 50%;
		padding: 0 30px 0 0;

		h3{
			padding-top: 30px;
			font-size: 26px;
		}

		p {
			clear: both;
			font-size: 20px;
		}
	}
	.company-img {
		width: 50%;
		float: right;
		height: auto;
	}
}
.block:nth-child(even) {

	.company-content {
		float: right;
		padding: 0 0 0 30px;
	}
	.company-img {
		float: left;
	}
}



@media screen and (max-width: 768px) {
	.section-about-us header h1,
	.section-quienes-somos header h1 {
		line-height: 1.2;
		font-size: 35px;
	}
	.block .company-content {
		float: none;
		width: 100%;
	}
	.block .company-img {
		width: 100%;
		float: none;
		margin-top: 20px;
	}


}