@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);


@font-face {
  font-family:'CircularStd';
  src: url('/fonts/CircularStd-Book.eot');
  src: url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/CircularStd-Book.woff2') format('woff2'),
  url('/fonts/CircularStd-Book.woff') format('woff'),
  url('/fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'CircularStdBold';
  src: url('/fonts/CircularStd-Bold.eot');
  src: url('/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('/fonts/CircularStd-Bold.woff') format('woff'),
  url('/fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'CircularStdMedium';
  src: url('/fonts/CircularStd-Medium.eot');
  src: url('/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/CircularStd-Medium.woff2') format('woff2'),
  url('/fonts/CircularStd-Medium.woff') format('woff'),
  url('/fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}