<nav class="navbar navbar-redwood">
    <div class="col-md-12">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="coco-brand" href="/"></a>
        </div>

        <div class="collapse navbar-collapse" id="nav-main">
            <ul class="nav navbar-nav">
                {{ nav from="/" include_home="true" scope="tag" }}
                    <li{{ if is_current or is_parent }} class="active"{{ /if }}>
                        <a href="{{ url }}">{{ tag:nav_title or title }}
                        </a>
                    </li>
                {{ /nav }}
            </ul>
            <div class="nav nav-language">
                <a href="/">en</a> / <a href="/es">es</a>
            </div>
            <form class="navbar-form navbar-right" role="search" action="{{ link to='search' }}">
                <div class="form-group">
                    <input type="text" class="form-control search" name="q" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {{ if logged_in }}
                    <li><a href="{{ link to='users' }}">Users</a></li>
                    <li><a href="{{ user:logout_url }}">Log out</a></li>
                {{ else }}
                    <li><a href="{{ link to='login' }}">Log in</a></li>
                    <li><a href="{{ link to='register' }}">Register</a></li>
                {{ /if }}
            </ul>
        </div>

    </div>
</nav>
