<div class="block">
	<a href="{{ url }}">

		{{ if hero_image }}
			<img src="{{ hero_image | url }}" class="small-image">
		{{ /if }}

		<h3>{{ title }}</h3>
		<p>{{ content }}</p>

		<div class="meta">
			{{ if (date | days_ago) < 21 }}
				{{ date | relative }}
			{{ elseif (date | format:Y) == now | format:Y }}
				{{ date format="M j" }}
			{{ else }}
				{{ date format="M j, Y" }}
			{{ /if }}
		</div>
	</a>
</div>
