<div id="app">
	<section>

		<header class="col-md-10 col-md-offset-1">
			<h1 v-html="content.content"></h1>
			<h2 v-html="content.sub_content"></h2>
		</header>

		<article class="col-md-10 col-md-offset-1">
			<div class="block clearfix" v-for="company in companies">
				<div class="company-content">
					<img v-bind:src="company.logo[0]" class="company-logo-img">
					<h3 v-html="company.title"></h3>
					<p v-html="company.description"></p>
				</div>
				<img v-bind:src="company.image[0]" class="company-img">
			</div>
		</article>


	</section>
</div>
<?php global $locale; ?>
<script>
    window.companies = <?php echo json_encode(\Statamic\API\Entry::whereCollection('companies')->localize($locale)->toArray()) ?>;
	window.content = <?php echo json_encode(\Statamic\API\Page::find('bdd353c7-eee6-41be-835a-bdb077a0b65c')->in($locale)->toArray()) ?>;

	var app = new Vue({
        data: {
            companies: companies,
            content: content
        },
        computed: {

        },
        watch: {

        },
        methods: {
        },
        created() {
        }
    }).$mount('#app');
</script>


<style>
</style>
