<div id="app">
    <section>

        <header class="col-md-10 col-md-offset-1 contact-header">
            <div class="contact-direction col-md-4">
                <h2>México CDMX</h2>
                <p>
                    Lago Texcoco 112-D<br>
                    Col. Anáhuac Del. Hidalgo<br>
                    C.P. 11320
                </p>
                <p>
                    Tel: (+52) 55-53-42-61-72 / 73<br>
                    <a href="mailto:info@cocolab.mx">info@cocolab.mx</a><br>
                    www.cocolab.mx
                </p>
                <div class="social-links">
                    <a target="_blank" href="https://www.facebook.com/cocolabmx/"><img src="/images/facebook.svg"></a>
                    <a target="_blank" href="https://www.instagram.com/_cocolab/"><img src="/images/instagram.svg"></a>
                    <a target="_blank" href="https://twitter.com/cocolabmx"><img src="/images/twitter.svg"></a>
                </div>
            </div>
            <div class="contact-map col-md-7">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-99.18432354927064%2C19.440653932707455%2C-99.17272567749023%2C19.45093263173333&amp;layer=mapnik" style="border: 1px solid black"></iframe>
            </div>
        </header>

        <article class="content col-md-8 col-md-offset-2">

            <div class="form-group col-md-12">
                <h2>{{ title }}</h2>
            </div>
            {{ form:create in="contact" }}

                {{ if errors }}
                    <div class="alert alert-danger">
                        {{ errors }}
                            {{ value }}<br>
                        {{ /errors }}
                    </div>
                {{ /if }}

                {{ if success }}
                    <div class="alert alert-success">
                        Form was submitted successfully.
                    </div>
                {{ /if }}

                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" name="name" value="{{ old:name }}" class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="text" name="email" value="{{ old:email }}" class="form-control" />
                </div>

                <div class="form-group col-md-12">
                    <label>Message</label>
                    <textarea name="comment" class="form-control">{{ old:comment }}</textarea>
                </div>

                <div class="form-group col-md-12">
                    <button class="btn btn-primary">Submit</button>
                </div>

            {{ /form:create }}

        </article>

    </section>
</div>

<style type="text/css">

    header.contact-header {
        padding-top: 100px;
        margin-bottom: 150px;
    }
    form {
        clear: both;
        font-size: 1.1em;
    }
    header {
        margin-bottom: 50px;
    }
    .contact-direction {
        text-align: right;
    }
    section header .contact-direction h2 {
        font-size: 35px;
    }
    .contact-direction p {
        margin: 30px 0;
    }
    .contact-direction a {
        color: #3c3c3c;
    }
    .social-links a {
        display: inline-block;
        margin-left: 20px;
    }
    .social-links {
        margin-bottom: 30px;
    }
    .content input {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #333;
        border-radius: 0;
    }
    .content textarea {
        box-shadow: none;
        border: 1px solid #333;
        border-radius: 0;
        min-height: 80px;
    }

    .content button,
    .content button:hover{
        box-shadow: none;
        border: 1px solid #333;
        border-radius: 0;
        background: transparent url(/images/triangle.svg) 90% center no-repeat;
        color: #3c3c3c;
        padding: 10px 50px 10px 10px;
        font-size: 1em;
    }
    .content .form-group {
        margin-bottom: 30px;
    }

    .content label {
        margin-bottom: 10px;
        font-weight: normal;
        font-family:'CircularStdBold';
        font-size: 1.1em;
    }
    article.content h2 {
        font-size: 46px;
    }
</style>