<div id="app">
	<section>

		<header class="col-md-12">
		</header>

		<article class="col-md-12">
			<div class="block clearfix experience-block" v-for="experience in compExperiences" v-bind:class="[experience.cssClass]">
				<a v-bind:href="experience.url" class="experience-container" v-bind:style="{ backgroundImage: getUrl(experience.hero_image)}">
					<div class="experience-content-bg">
						<div class="experience-content">
							<h3 v-html="experience.title"></h3>
						</div>
						<div class="experience-content-appear">
							<h3 v-html="experience.title"></h3>
							<h4 v-html="experience.subtitle"></h4>
						</div>
					</div>
				</a>
			</div>
		</article>


	</section>
</div>

<?php global $locale; ?>

<script>
    window.experiences = <?php echo json_encode(\Statamic\API\Entry::whereCollection('experiences')->localize($locale)->toArray()) ?>;
    window.categories = <?php echo json_encode(\Statamic\API\Entry::whereCollection('home')->localize($locale)->toArray()) ?>;

    var app = new Vue({
        data: {
            experiences: experiences,
            categories: categories,
			blockSizeArr: [12,6,6,12,4,4,4]
        },
        computed: {
			compExperiences(){

                let sizeCounter = 0;
				let vm = this;

				return this.experiences.sort(function(l,r){
						if(l.order > r.order){
							return 1;
						} else  if(l.order < r.order){
							return -1;
						}
						return 0;
					}).map(function(item){

                    	item.cssClass = 'col-md-'+vm.blockSizeArr[sizeCounter];
						item.year = moment(item.date).format('YYYY');
                    	sizeCounter++;
                    	sizeCounter = (sizeCounter>=vm.blockSizeArr.length) ? 0 : sizeCounter;
                    	return item;
					});


			}

        },
        watch: {

        },
        methods: {
            getUrl: function(url) {
				url = (Array.isArray(url) && url.length>0) ? url[0] : url;
				return "url('"+url+"')";
			}
        },
        created() {
        }
    }).$mount('#app');
</script>

<style type="text/css">
	.block.experience-block {
		clear: none;
		position: relative;
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 16px;
		border: none;
	}
	.block.experience-block.col-md-4,
	.block.experience-block.col-md-6,
	.block.experience-block.col-md-12 {
		padding-left: 8px;
		padding-right: 8px;
	}
	a.experience-container {
		display: block;
		position: relative;
		height: 100%;
		background-size: cover;
		background-position: center center;
		padding-top: 62%;
	}

	.experience-content-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: transparent url(/images/capa-tenue.png) center center no-repeat;
		background-size: cover;
		transition: all 0.4s ease-in-out;
	}

	.experience-content-bg:hover {
		box-shadow: 0 0 20px #333;
	}

	.block.experience-block .experience-content {
		position: absolute;
		width: 80%;
		top: 10px;
		left: 10px;
		color: #fff;
		transition: all 0.2s ease-in-out;
		opacity: 0.7;
		font-size: 0.8em;
		font-weight: normal;
	}
	.block.experience-block .experience-content-appear {
		position: absolute;
		width: 90%;
		top: 100%;
		left: 5%;
		color: #fff;
		transition: all 0.2s ease-in-out;
		opacity: 0;
		font-size: 1.3em;
		text-align: center;
	}
	.block.experience-block .experience-content h3 {
		font-size: 0.9em;
	}
	.block.experience-block .experience-content-appear h3 {
		font-size: 1.2em;
	}

	.block.experience-block .experience-content-bg:hover .experience-content {
		opacity: 0;
		top: -10px;
	}

	.block.experience-block .experience-content-bg:hover .experience-content-appear {
		opacity: 1;
		top: 60%;
	}

	.experience-content h4{
		margin-bottom: 10px;
	}

	.experience-block.col-md-12 a.experience-container {
		padding-top: 30%;
	}
	.experience-block.col-md-6 a.experience-container {
		padding-top: 50%;
	}


	@media screen and (max-width: 991px) {

		a.experience-container,
		.experience-block.col-md-12 a.experience-container,
		.experience-block.col-md-6 a.experience-container {
			padding-top: 50%;
		}


		.block.experience-block .experience-content {
			left: 20px;
		}
	}

	@media screen and (max-width: 768px) {
		.block.experience-block {
			margin-bottom: 10px;
		}

	}
</style>