<div id="app">
	<section id="slider-home" style="display: none;">
		<div class="slider-home">
			<div class="slider-item" v-for="category in categories">
				<div class="category-block">
					<a href="#" v-bind:style="{ backgroundImage: getUrl(category.image[0])}">
						<div class="category-content">
							<h2 v-html="category.title"></h2>
							<h3 v-html="category.subtitle"></h3>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
    window.categories = <?php echo json_encode(\Statamic\API\Entry::whereCollection('home')->toArray()) ?>;

    var app = new Vue({
        data: {
            categories: categories
        },
        computed: {


        },
        watch: {

        },
        methods: {
            getUrl: function(url) {
                return "url('"+url+"')";
            }
        },
        created() {
			setTimeout(function(){

                $(function() {
                    var BV = new $.BigVideo({forceAutoplay:true});
                    BV.init();
                    BV.show('/images/Home_web_cocolab.mp4');
                    BV.getPlayer().currentTime(Math.round(Math.random()*145));
                    BV.getPlayer().loop(true);
                });


                if (Modernizr.touch) {
                    $('#slider-home').css({display: 'block'});
					$('.slider-home').slick({
						dots: false,
						infinite: true,
						speed: 500,
						fade: true,
						cssEase: 'linear',
						autoplay: true,
						arrows: false
					});
                }

			},200);
        }
    }).$mount('#app');
</script>

<style type="text/css">

	body, html {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.slider-home {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: fixed;
	}
	.category-block,
	.slider-item {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	.category-block a{
		display: block;
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: 100%;
		text-decoration: none;
		color: #fff;
		position: absolute;
	}
	.category-content {
		position: absolute;
		bottom: 10%;
		left: 60px;
	}
	.category-block a h2 {
		font-size: 125px;
	}
	.category-block a h3 {
		font-size: 59px;
	}
	#app {
		padding-top: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.slick-list,
	.slick-track{
		height: 100%;
	}

</style>