<section class="container-fluid">

	<header>
		<h1>{{ title }}</h1>
		{{ content_raw wrap="h2" }}
	</header>

    <div class="tiles">
        {{ collection:blog paginate="true" as="posts" limit="20" }}
        {{ posts }}
        {{ partial:post }}
        {{ /posts }}

        {{ partial:pagination }}
        {{ /collection:blog }}
    </div>

</section>


<?php global $locale; ?>
