<section class="regular">

    <header>
        <h1>Opportunities</h1>
    </header>

    <article class="content">

        {{ content }}

        {{ form:create in="opportunities" }}

            {{ if errors }}
                <div class="alert alert-danger">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ if success }}
                <div class="alert alert-success">
                    Form was submitted successfully.
                </div>
            {{ /if }}

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="{{ old:name }}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{ old:email }}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea name="comment" class="form-control">{{ old:comment }}</textarea>
            </div>

            <button class="btn btn-primary">Submit</button>

        {{ /form:create }}

    </article>

</section>
