<div id="app">
	<section>

		<header class="col-md-12">
			{{ if videos }}
				{{ videos }}
					{{ if key==0 }}
						{{ if value ~ '/vimeo.com/' }}
							<div class='embed-container'>
								<iframe src="https://player.vimeo.com/video{{ value replace="https://vimeo.com/|/" }}?autoplay=1&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						{{ else }}
							<video controls autoplay>
								<source src="{{ value }}" type="video/mp4">
							</video>
						{{ endif }}
					{{ endif }}
				{{ /videos }}
			{{ else }}
				{{ if hero_image:0 }}
					{{ hero_image }}
						<div style="background-image: url('{{ value }}');" class="hero-image">
					{{ /hero_image }}
				{{ else }}
					<div style="background-image: url('{{ hero_image }}');" class="hero-image">
				{{ endif }}
			{{ endif }}
		</header>

		<article class="col-md-12">
			<div class="experience-title">
				<h2>{{ title }}</h2>
				<h3>{{ subtitle }}</h3>
				<div class="experience-place">
					<span>{{ place }}</span>
					<span>{{ date format="Y" }}</span>
				</div>
			</div>
			<div class="experience-content">
				<div class="col-md-6">
					<p>{{ description|markdown }}</p>
				</div>
				<div class="col-md-6">
					<p>{{ credits|markdown }}</p>
				</div>
			</div>
			<div class="experience-images">
				{{ if videos }}
					{{ videos }}
						{{ if key>0 }}
						<div class='embed-container'>
							<iframe src="https://player.vimeo.com/video{{ value replace="https://vimeo.com/|/"}}?autoplay=0&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						{{ endif }}
					{{ /videos }}
				{{ endif }}

				{{ images }}
					{{ if key | mod:7==0 }}
						<div class="block clearfix experience-block col-md-6">
					{{ elseif key | mod:7==1 }}
						<div class="block clearfix experience-block col-md-6">
					{{ elseif key | mod:7==2 }}
						<div class="block clearfix experience-block col-md-12">
					{{ elseif key | mod:7==3 }}
						<div class="block clearfix experience-block col-md-4">
					{{ elseif key | mod:7==4 }}
						<div class="block clearfix experience-block col-md-4">
					{{ elseif key | mod:7==5 }}
						<div class="block clearfix experience-block col-md-4">
					{{ else }}
						<div class="block clearfix experience-block col-md-12">
					{{ endif }}

							<div class="experience-image" style="background-image: url('{{ value }}');" ></div>
						</div>
				{{ /images }}
			</div>
		</article>


	</section>
</div>

<script>

</script>

<style type="text/css">

	header video {
		width: 100%;
	}
	.block.experience-block {
		clear: none;
		position: relative;
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 16px;
		border: none;
	}
	.block.experience-block.col-md-4,
	.block.experience-block.col-md-6,
	.block.experience-block.col-md-12 {
		padding-left: 8px;
		padding-right: 8px;
	}

	.experience-title {
		padding: 50px 150px 50px 0;
		position: relative;
	}
	.experience-title h2 {
		font-size: 98px;
	}
	.experience-title h3 {
		font-size: 55px;
		max-width: 700px;
	}
	.experience-place {
		position: absolute;
		bottom: 85px;
		right: 0;
		border: 1px solid #000;
		height: 40px;
		line-height: 40px;
	}
	.experience-place span {
		display: inline-block;
		font-size: 1.1em;
		text-align: center;
		padding: 0 10px;
	}
	.experience-place span:first-child {
		border-right: 1px solid #000;
	}

	.experience-images {
		clear: both;
		padding-top: 50px;
	}
	.experience-image {
		padding-top: 62%;
		background-size: cover;
		background-position: center center;
	}
	.block.experience-block.col-md-12 .experience-image {
		padding-top: 30%;
	}
	.hero-image{
		padding-top: 40%;
		background-size: cover;
		background-position: center center;
		position: relative;
	}

	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
	}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 768px) {
		.experience-title h2 {
			font-size: 60px;
		}
		.experience-title {
			padding-right: 0;
		}
		.experience-place {
			position: relative;
			bottom: auto;
			right: auto;
			float: left;
		}

	}

</style>