.navbar-redwood {
	border-radius: 0;
	min-height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.nav {
		color: $color_light;
		font-family: $font_sans;
		font-size: 12px;
		overflow: hidden;
	}

	ul.nav {
		margin-left: 50px;
		@media screen and (max-width: 1200px) {
			margin-left: 0;
		}

		li a {
			white-space: nowrap;
		}
	}

	.nav.navbar-nav a {
		margin-left: 50px;
		@media screen and (max-width: 1150px) {
			margin-left: 30px;
		}

		@media screen and (max-width: 1050px) {
			margin-left: 20px;
			font-size: 22px;
		}

		@media screen and (max-width: 910px) {
			margin-left: 17px;
			font-size: 17px;
			padding-top: 32px;
		}

		&:before {
			position: absolute;
			left: 0;
			bottom: -3px;
			width: 100%;
			height: 6px;
			background: $color_dark;
			content: '';
			transition: all 100ms ease;
			opacity: 0;
		}
		&:hover,
		&:focus {
			background: transparent;
			&:before {
				opacity: 1;
				bottom: 0;
			}
		}

	}

	.nav a {
		color: #000;
		font-size: 25px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		letter-spacing: .1em;
		padding: 25px 0 10px 0;
		-webkit-backface-visibility: hidden;


		.section-about-us & ,
		.section-quienes-somos & ,
		.section-home & {
			color: #fff;

			&:before{
				background-color: #fff;
			}
		}

	}

	.nav .active a {
		color: $color_dark;
		font-weight: bold;
		position: relative;
		&:before {
			bottom: 0;
			height: 6px;
			background: $color_dark;
			opacity: 1;
		}

		.section-about-us & ,
		.section-quienes-somos & ,
		.section-home & {
			color: #fff;

			&:before{
				background-color: #fff;
			}
		}
	}

	#coco-brand.navbar-brand {
		height: 50px;
		width: 50px;
		margin-left: 20px;
		margin-top: 20px;
		background: transparent center center url(/images/logo-black.svg) no-repeat;
		background-size: contain;
	}
	.section-about-us & #coco-brand.navbar-brand,
	.section-quienes-somos & #coco-brand.navbar-brand,
	.section-home & #coco-brand.navbar-brand {
		background: transparent center center url(/images/logo.svg) no-repeat;
		background-size: contain;
	}

	.navbar-form {
		margin-top: 13px;
	}

	.search {
		border-radius: $gap;
		font-family: $font_sans;
		font-size: 14px;
		width: 180px;
		display: block;
		transition: width 220ms ease;
	}
	.search.grow {
		width: 300px;
	}

	.navbar-right {
		display: none;
	}

	.nav.nav-language {
		float: right;
		margin-right: 20px;
		padding-top: 30px;
		font-size: 16px;


		a {
			font-size: 16px;
		}

	}
}

ul.navbar-nav li:first-child {
	display: none;
}


@media screen and (max-width: 768px) {
	.navbar-toggle {
		opacity: 0.3;
		margin-top: 20px;
	}
	.navbar-toggle.collapsed {
		opacity: 1;
	}


	.navbar-toggle .icon-bar{
		background-color: #333;
		width: 30px;
		height: 3px;
		margin-bottom: 7px;
	}

	.navbar-collapse {
		position: absolute;
		width: 100%;
		right: 0;
		top: -20px;
		background-color: rgba(0, 0, 0, 0.9);
		color: #fff;
		padding: 10px 50px 30px 50px;
	}
	.navbar-redwood .navbar-collapse .nav a {
		color: #fff;
	}

	.navbar-redwood .navbar-collapse .nav .active a:before,
	.navbar-redwood .navbar-collapse .nav.navbar-nav a:before {
		background-color: #fff;
	}

}
